.md-group-0:hover {
    content: "Background"
}
.lighten {
    position: relative
}
.lighten:before {
    pointer-events: none;
    position: absolute;
    content: "";
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px
}
.lighten:hover:before {
    background-color: rgba(255,255,255,.33)
}
.lighten:before {
    -webkit-transition: background .33s linear;
    transition: background .33s linear;
    border-radius: inherit
}
.darken {
    position: relative
}
.darken:before {
    pointer-events: none;
    position: absolute;
    content: "";
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px
}
.darken:hover:before {
    background-color: rgba(0,0,0,.16)
}
.darken:before {
    -webkit-transition: background .33s linear;
    transition: background .33s linear;
    border-radius: inherit
}
@-webkit-keyframes barberpole {
    to {
        background-position: 2em 0
    }
}
@keyframes barberpole {
    to {
        background-position: 2em 0
    }
}
.barberpole:hover {
    -webkit-animation: barberpole 1.11s linear infinite;
    animation: barberpole 1.11s linear infinite;
    -webkit-background-size: 2em 2em;
    background-size: 2em 2em;
    background-image: -webkit-linear-gradient(135deg, rgba(255,255,255,.33) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,.33) 50%, rgba(255,255,255,.33) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0));
    background-image: linear-gradient(-45deg,rgba(255,255,255,.33) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(255,255,255,.33) 50%,rgba(255,255,255,.33) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0))
}
@-webkit-keyframes color-spin {
    14% {
        background-color: #66a8cc
    }
    29% {
        background-color: #7c66cc
    }
    43% {
        background-color: #cc66c5
    }
    57% {
        background-color: #cc666d
    }
    71% {
        background-color: #ccb666
    }
    86% {
        background-color: #8acc66
    }
    100% {
        background-color: #6c9
    }
}
@keyframes color-spin {
    14% {
        background-color: #66a8cc
    }
    29% {
        background-color: #7c66cc
    }
    43% {
        background-color: #cc66c5
    }
    57% {
        background-color: #cc666d
    }
    71% {
        background-color: #ccb666
    }
    86% {
        background-color: #8acc66
    }
    100% {
        background-color: #6c9
    }
}
.color-spin:hover {
    -webkit-animation: color-spin 5.5s linear alternate infinite;
    animation: color-spin 5.5s linear alternate infinite
}
.md-group-1:hover {
    content: "Miscellaneous"
}
@-webkit-keyframes text-blur {
    to {
        color: transparent;
        text-shadow: 0 0 .66em #fff
    }
}
@keyframes text-blur {
    to {
        color: transparent;
        text-shadow: 0 0 .66em #fff
    }
}
.text-blur:hover {
    -webkit-animation: text-blur .66s forwards;
    animation: text-blur .66s forwards
}
@-webkit-keyframes text-glow {
    to {
        text-shadow: 0 0 .55em rgba(255,255,255,.77)
    }
}
@keyframes text-glow {
    to {
        text-shadow: 0 0 .55em rgba(255,255,255,.77)
    }
}
.text-glow:hover {
    -webkit-animation: text-glow .33s linear forwards;
    animation: text-glow .33s linear forwards
}
.md-group-2:hover {
    content: "Border Transitions"
}
.border-fade {
    -webkit-transition: -webkit-box-shadow .33s;
    transition: box-shadow .33s
}
.border-fade:hover {
    -webkit-box-shadow: inset 0 0 0 .17em rgba(0,0,0,.2);
    box-shadow: inset 0 0 0 .17em rgba(0,0,0,.2)
}
.hollow {
    position: relative
}
.hollow:before {
    pointer-events: none;
    position: absolute;
    content: "";
    top: .14em;
    right: .14em;
    bottom: .14em;
    left: .14em
}
.hollow:hover:before {
    background-color: rgba(255,255,255,.33)
}
.hollow:before {
    -webkit-transition: background .33s linear;
    transition: background .33s linear;
    border-radius: .25em
}
.outline-outward {
    position: relative
}
.outline-outward:before {
    pointer-events: none;
    position: absolute;
    content: "";
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px
}
.outline-outward:hover:before {
    top: -.45em;
    right: -.45em;
    bottom: -.45em;
    left: -.45em;
    opacity: .33
}
.outline-outward:before {
    -webkit-transition-duration: .33s;
    transition-duration: .33s;
    -webkit-transition-property: top,right,bottom,left,opacity;
    transition-property: top,right,bottom,left,opacity;
    border: rgba(0,0,0,.5) solid .2em;
    border-color: inherit;
    border-radius: inherit;
    opacity: 0
}
.outline-inward {
    position: relative
}
.outline-inward:before {
    pointer-events: none;
    position: absolute;
    content: "";
    top: -1.1em;
    right: -1.1em;
    bottom: -1.1em;
    left: -1.1em
}
.outline-inward:hover:before {
    top: -.45em;
    right: -.45em;
    bottom: -.45em;
    left: -.45em;
    opacity: .33
}
.outline-inward:before {
    -webkit-transition-duration: .33s;
    transition-duration: .33s;
    -webkit-transition-property: top,right,bottom,left,opacity;
    transition-property: top,right,bottom,left,opacity;
    border: rgba(0,0,0,.5) solid .2em;
    border-color: inherit;
    border-radius: inherit;
    opacity: 0
}
.round-corners {
    -webkit-transition: border-radius .55s;
    transition: border-radius .55s
}
.round-corners:hover {
    border-radius: 50%
}
.md-group-3:hover {
    content: "Shadow Transitions"
}
.glow {
    -webkit-transition: -webkit-box-shadow .33s;
    transition: box-shadow .33s
}
.glow:hover {
    -webkit-box-shadow: 0 0 .55em rgba(0,0,0,.55);
    box-shadow: 0 0 .55em rgba(0,0,0,.55)
}
.shadow-outset {
    -webkit-transition: -webkit-box-shadow .33s;
    transition: box-shadow .33s
}
.shadow-outset:hover {
    -webkit-box-shadow: .13em .13em .13em rgba(0,0,0,.44);
    box-shadow: .13em .13em .13em rgba(0,0,0,.44)
}
.shadow-inset {
    -webkit-transition: -webkit-box-shadow .33s;
    transition: box-shadow .33s
}
.shadow-inset:hover {
    -webkit-box-shadow: inset .13em .13em .13em rgba(0,0,0,.33);
    box-shadow: inset .13em .13em .13em rgba(0,0,0,.33)
}
.md-group-4:hover {
    content: "Bubbles"
}
.bubble-top {
    position: relative
}
.bubble-top:before {
    pointer-events: none;
    position: absolute;
    content: ""
}
.bubble-top:hover:before {
    top: -.55em
}
.bubble-top:before {
    z-index: -1;
    -webkit-transition: top .44s;
    transition: top .44s;
    top: 0;
    border: .55em solid transparent;
    border-top-width: 0;
    left: -webkit-calc(50% - .55em);
    left: calc(50% - .55em);
    border-bottom-color: inherit
}
.bubble-right {
    position: relative
}
.bubble-right:before {
    pointer-events: none;
    position: absolute;
    content: ""
}
.bubble-right:hover:before {
    right: -.55em
}
.bubble-right:before {
    z-index: -1;
    -webkit-transition: right .44s;
    transition: right .44s;
    right: 0;
    border: .55em solid transparent;
    border-right-width: 0;
    top: -webkit-calc(50% - .55em);
    top: calc(50% - .55em);
    border-left-color: inherit
}
.bubble-bottom {
    position: relative
}
.bubble-bottom:before {
    pointer-events: none;
    position: absolute;
    content: ""
}
.bubble-bottom:hover:before {
    bottom: -.55em
}
.bubble-bottom:before {
    z-index: -1;
    -webkit-transition: bottom .44s;
    transition: bottom .44s;
    bottom: 0;
    border: .55em solid transparent;
    border-bottom-width: 0;
    left: -webkit-calc(50% - .55em);
    left: calc(50% - .55em);
    border-top-color: inherit
}
.bubble-left {
    position: relative
}
.bubble-left:before {
    pointer-events: none;
    position: absolute;
    content: ""
}
.bubble-left:hover:before {
    left: -.55em
}
.bubble-left:before {
    z-index: -1;
    -webkit-transition: left .44s;
    transition: left .44s;
    left: 0;
    border: .55em solid transparent;
    border-left-width: 0;
    top: -webkit-calc(50% - .55em);
    top: calc(50% - .55em);
    border-right-color: inherit
}
.bubble-float-top {
    position: relative;
    -webkit-transition: -webkit-transform .44s;
    transition: transform .44s
}
.bubble-float-top:before {
    pointer-events: none;
    position: absolute;
    content: ""
}
.bubble-float-top:hover:before {
    top: -.55em
}
.bubble-float-top:before {
    z-index: -1;
    -webkit-transition: top .44s;
    transition: top .44s;
    top: 0;
    border: .55em solid transparent;
    border-top-width: 0;
    left: -webkit-calc(50% - .55em);
    left: calc(50% - .55em);
    border-bottom-color: inherit
}
.bubble-float-top:hover {
    -webkit-transform: translateY(0.275em);
    -ms-transform: translateY(0.275em);
    transform: translateY(0.275em)
}
.bubble-float-right {
    position: relative;
    -webkit-transition: -webkit-transform .44s;
    transition: transform .44s
}
.bubble-float-right:before {
    pointer-events: none;
    position: absolute;
    content: ""
}
.bubble-float-right:hover:before {
    right: -.55em
}
.bubble-float-right:before {
    z-index: -1;
    -webkit-transition: right .44s;
    transition: right .44s;
    right: 0;
    border: .55em solid transparent;
    border-right-width: 0;
    top: -webkit-calc(50% - .55em);
    top: calc(50% - .55em);
    border-left-color: inherit
}
.bubble-float-right:hover {
    -webkit-transform: translateX(-.275em);
    -ms-transform: translateX(-.275em);
    transform: translateX(-.275em)
}
.bubble-float-bottom {
    position: relative;
    -webkit-transition: -webkit-transform .44s;
    transition: transform .44s
}
.bubble-float-bottom:before {
    pointer-events: none;
    position: absolute;
    content: ""
}
.bubble-float-bottom:hover:before {
    bottom: -.55em
}
.bubble-float-bottom:before {
    z-index: -1;
    -webkit-transition: bottom .44s;
    transition: bottom .44s;
    bottom: 0;
    border: .55em solid transparent;
    border-bottom-width: 0;
    left: -webkit-calc(50% - .55em);
    left: calc(50% - .55em);
    border-top-color: inherit
}
.bubble-float-bottom:hover {
    -webkit-transform: translateY(-.275em);
    -ms-transform: translateY(-.275em);
    transform: translateY(-.275em)
}
.bubble-float-left {
    position: relative;
    -webkit-transition: -webkit-transform .44s;
    transition: transform .44s
}
.bubble-float-left:before {
    pointer-events: none;
    position: absolute;
    content: ""
}
.bubble-float-left:hover:before {
    left: -.55em
}
.bubble-float-left:before {
    z-index: -1;
    -webkit-transition: left .44s;
    transition: left .44s;
    left: 0;
    border: .55em solid transparent;
    border-left-width: 0;
    top: -webkit-calc(50% - .55em);
    top: calc(50% - .55em);
    border-right-color: inherit
}
.bubble-float-left:hover {
    -webkit-transform: translateX(0.275em);
    -ms-transform: translateX(0.275em);
    transform: translateX(0.275em)
}
.md-group-5:hover {
    content: "2D Transforms"
}
.grow {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s
}
.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}
.shrink {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s
}
.shrink:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9)
}
@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9)
    }
    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}
@keyframes pulse {
    25% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9)
    }
    75% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }
}
.pulse:hover {
    -webkit-animation: pulse 1.1s linear infinite;
    animation: pulse 1.1s linear infinite
}
@-webkit-keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}
@keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }
}
.pulse-grow:hover {
    -webkit-animation: pulse-grow .33s linear infinite alternate;
    animation: pulse-grow .33s linear infinite alternate
}
@-webkit-keyframes pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9)
    }
}
@keyframes pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9)
    }
}
.pulse-shrink:hover {
    -webkit-animation: pulse-shrink .33s linear infinite alternate;
    animation: pulse-shrink .33s linear infinite alternate
}
@-webkit-keyframes push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8)
    }
}
@keyframes push {
    50% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8)
    }
}
.push:hover {
    -webkit-animation: push .33s linear;
    animation: push .33s linear
}
@-webkit-keyframes pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}
@keyframes pop {
    50% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2)
    }
}
.pop:hover {
    -webkit-animation: pop .33s linear;
    animation: pop .33s linear
}
.rotate {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s
}
.rotate:hover {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg)
}
.grow-rotate {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s
}
.grow-rotate:hover {
    -webkit-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg)
}
.float {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s
}
.float:hover {
    -webkit-transform: translateY(-.5em);
    -ms-transform: translateY(-.5em);
    transform: translateY(-.5em)
}
.sink {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s
}
.sink:hover {
    -webkit-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    transform: translateY(0.5em)
}
.skew {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s
}
.skew:hover {
    -webkit-transform: skew(-11deg);
    -ms-transform: skew(-11deg);
    transform: skew(-11deg)
}
.skew-forward {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%
}
.skew-forward:hover {
    -webkit-transform: skew(-11deg);
    -ms-transform: skew(-11deg);
    transform: skew(-11deg)
}
.skew-backward {
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%
}
.skew-backward:hover {
    -webkit-transform: skew(11deg);
    -ms-transform: skew(11deg);
    transform: skew(11deg)
}
@-webkit-keyframes wobble-horizontal {
    17% {
        -webkit-transform: translate(8px);
        transform: translate(8px)
    }
    33% {
        -webkit-transform: translate(-6px);
        transform: translate(-6px)
    }
    50% {
        -webkit-transform: translate(4px);
        transform: translate(4px)
    }
    67% {
        -webkit-transform: translate(-2px);
        transform: translate(-2px)
    }
    83% {
        -webkit-transform: translate(1px);
        transform: translate(1px)
    }
    100% {
        -webkit-transform: translate(0px);
        transform: translate(0px)
    }
}
@keyframes wobble-horizontal {
    17% {
        -webkit-transform: translate(8px);
        -ms-transform: translate(8px);
        transform: translate(8px)
    }
    33% {
        -webkit-transform: translate(-6px);
        -ms-transform: translate(-6px);
        transform: translate(-6px)
    }
    50% {
        -webkit-transform: translate(4px);
        -ms-transform: translate(4px);
        transform: translate(4px)
    }
    67% {
        -webkit-transform: translate(-2px);
        -ms-transform: translate(-2px);
        transform: translate(-2px)
    }
    83% {
        -webkit-transform: translate(1px);
        -ms-transform: translate(1px);
        transform: translate(1px)
    }
    100% {
        -webkit-transform: translate(0px);
        -ms-transform: translate(0px);
        transform: translate(0px)
    }
}
.wobble-horizontal:hover {
    -webkit-animation: wobble-horizontal 1.1s ease-in-out;
    animation: wobble-horizontal 1.1s ease-in-out
}
@-webkit-keyframes wobble-vertical {
    17% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
    33% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }
    67% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    83% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px)
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}
@keyframes wobble-vertical {
    17% {
        -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px)
    }
    33% {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    50% {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px)
    }
    67% {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    83% {
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
        transform: translateY(1px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px)
    }
}
.wobble-vertical:hover {
    -webkit-animation: wobble-vertical 1.1s ease-in-out;
    animation: wobble-vertical 1.1s ease-in-out
}
@-webkit-keyframes wobble-bottom-right {
    17% {
        -webkit-transform: translate(8px,8px);
        transform: translate(8px,8px)
    }
    33% {
        -webkit-transform: translate(-6px,-6px);
        transform: translate(-6px,-6px)
    }
    50% {
        -webkit-transform: translate(4px,4px);
        transform: translate(4px,4px)
    }
    67% {
        -webkit-transform: translate(-2px,-2px);
        transform: translate(-2px,-2px)
    }
    83% {
        -webkit-transform: translate(1px,1px);
        transform: translate(1px,1px)
    }
    100% {
        -webkit-transform: translate(0px,0);
        transform: translate(0px,0)
    }
}
@keyframes wobble-bottom-right {
    17% {
        -webkit-transform: translate(8px,8px);
        -ms-transform: translate(8px,8px);
        transform: translate(8px,8px)
    }
    33% {
        -webkit-transform: translate(-6px,-6px);
        -ms-transform: translate(-6px,-6px);
        transform: translate(-6px,-6px)
    }
    50% {
        -webkit-transform: translate(4px,4px);
        -ms-transform: translate(4px,4px);
        transform: translate(4px,4px)
    }
    67% {
        -webkit-transform: translate(-2px,-2px);
        -ms-transform: translate(-2px,-2px);
        transform: translate(-2px,-2px)
    }
    83% {
        -webkit-transform: translate(1px,1px);
        -ms-transform: translate(1px,1px);
        transform: translate(1px,1px)
    }
    100% {
        -webkit-transform: translate(0px,0);
        -ms-transform: translate(0px,0);
        transform: translate(0px,0)
    }
}
.wobble-bottom-right:hover {
    -webkit-animation: wobble-bottom-right 1.1s ease-in-out;
    animation: wobble-bottom-right 1.1s ease-in-out
}
@-webkit-keyframes wobble-top-right {
    17% {
        -webkit-transform: translate(8px,-8px);
        transform: translate(8px,-8px)
    }
    33% {
        -webkit-transform: translate(-6px,6px);
        transform: translate(-6px,6px)
    }
    50% {
        -webkit-transform: translate(4px,-4px);
        transform: translate(4px,-4px)
    }
    67% {
        -webkit-transform: translate(-2px,2px);
        transform: translate(-2px,2px)
    }
    83% {
        -webkit-transform: translate(1px,-1px);
        transform: translate(1px,-1px)
    }
    100% {
        -webkit-transform: translate(0px,0);
        transform: translate(0px,0)
    }
}
@keyframes wobble-top-right {
    17% {
        -webkit-transform: translate(8px,-8px);
        -ms-transform: translate(8px,-8px);
        transform: translate(8px,-8px)
    }
    33% {
        -webkit-transform: translate(-6px,6px);
        -ms-transform: translate(-6px,6px);
        transform: translate(-6px,6px)
    }
    50% {
        -webkit-transform: translate(4px,-4px);
        -ms-transform: translate(4px,-4px);
        transform: translate(4px,-4px)
    }
    67% {
        -webkit-transform: translate(-2px,2px);
        -ms-transform: translate(-2px,2px);
        transform: translate(-2px,2px)
    }
    83% {
        -webkit-transform: translate(1px,-1px);
        -ms-transform: translate(1px,-1px);
        transform: translate(1px,-1px)
    }
    100% {
        -webkit-transform: translate(0px,0);
        -ms-transform: translate(0px,0);
        transform: translate(0px,0)
    }
}
.wobble-top-right:hover {
    -webkit-animation: wobble-top-right 1.1s ease-in-out;
    animation: wobble-top-right 1.1s ease-in-out
}
.wobble-scew-top {
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%
}
@-webkit-keyframes wobble-scew {
    17% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg)
    }
    33% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg)
    }
    50% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg)
    }
    67% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg)
    }
    83% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg)
    }
    100% {
        -webkit-transform: skew(0deg);
        transform: skew(0deg)
    }
}
@keyframes wobble-scew {
    17% {
        -webkit-transform: skew(-12deg);
        -ms-transform: skew(-12deg);
        transform: skew(-12deg)
    }
    33% {
        -webkit-transform: skew(10deg);
        -ms-transform: skew(10deg);
        transform: skew(10deg)
    }
    50% {
        -webkit-transform: skew(-6deg);
        -ms-transform: skew(-6deg);
        transform: skew(-6deg)
    }
    67% {
        -webkit-transform: skew(4deg);
        -ms-transform: skew(4deg);
        transform: skew(4deg)
    }
    83% {
        -webkit-transform: skew(-2deg);
        -ms-transform: skew(-2deg);
        transform: skew(-2deg)
    }
    100% {
        -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
        transform: skew(0deg)
    }
}
.wobble-scew-top:hover {
    -webkit-animation: wobble-scew 1.1s ease-in-out;
    animation: wobble-scew 1.1s ease-in-out
}
.wobble-scew-bottom {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}
@keyframes wobble-scew {
    17% {
        -webkit-transform: skew(-12deg);
        -ms-transform: skew(-12deg);
        transform: skew(-12deg)
    }
    33% {
        -webkit-transform: skew(10deg);
        -ms-transform: skew(10deg);
        transform: skew(10deg)
    }
    50% {
        -webkit-transform: skew(-6deg);
        -ms-transform: skew(-6deg);
        transform: skew(-6deg)
    }
    67% {
        -webkit-transform: skew(4deg);
        -ms-transform: skew(4deg);
        transform: skew(4deg)
    }
    83% {
        -webkit-transform: skew(-2deg);
        -ms-transform: skew(-2deg);
        transform: skew(-2deg)
    }
    100% {
        -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
        transform: skew(0deg)
    }
}
.wobble-scew-bottom:hover,.wobble-scew:hover {
    -webkit-animation: wobble-scew 1.1s ease-in-out;
    animation: wobble-scew 1.1s ease-in-out
}
@keyframes wobble-scew {
    17% {
        -webkit-transform: skew(-12deg);
        -ms-transform: skew(-12deg);
        transform: skew(-12deg)
    }
    33% {
        -webkit-transform: skew(10deg);
        -ms-transform: skew(10deg);
        transform: skew(10deg)
    }
    50% {
        -webkit-transform: skew(-6deg);
        -ms-transform: skew(-6deg);
        transform: skew(-6deg)
    }
    67% {
        -webkit-transform: skew(4deg);
        -ms-transform: skew(4deg);
        transform: skew(4deg)
    }
    83% {
        -webkit-transform: skew(-2deg);
        -ms-transform: skew(-2deg);
        transform: skew(-2deg)
    }
    100% {
        -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
        transform: skew(0deg)
    }
}
@-webkit-keyframes buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
}
@keyframes buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        -ms-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        -ms-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
}
.buzz:hover {
    -webkit-animation: buzz .15s linear infinite;
    animation: buzz .15s linear infinite
}
@-webkit-keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0deg);
        transform: translateX(1px) rotate(0deg)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0deg);
        transform: translateX(-1px) rotate(0deg)
    }
}
@keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        -ms-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        -ms-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        -ms-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        -ms-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        -ms-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        -ms-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        -ms-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        -ms-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0deg);
        -ms-transform: translateX(1px) rotate(0deg);
        transform: translateX(1px) rotate(0deg)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0deg);
        -ms-transform: translateX(-1px) rotate(0deg);
        transform: translateX(-1px) rotate(0deg)
    }
}
.buzz-out:hover {
    -webkit-animation: buzz-out .77s linear;
    animation: buzz-out .77s linear
}
.aliasing-workaround_,.buzz,.buzz-out,.float,.grow,.grow-rotate,.pop,.pulse,.pulse-grow,.pulse-shrink,.push,.rotate,.shrink,.sink,.skew,.skew-backward,.skew-forward,.wobble-bottom-right,.wobble-horizontal,.wobble-scew,.wobble-scew-bottom,.wobble-scew-top,.wobble-top-right,.wobble-vertical {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
    box-shadow: 0 0 1px rgba(0,0,0,0)
}